Package: net.angelxwind.ineffectivepower
Name: IneffectivePower
Depends: mobilesubstrate, firmware (>= 4.0)
Version: 1.2
Architecture: iphoneos-arm
Description: Stop the infamous "Effective Power" text string from crashing CoreText!
Maintainer: Karen Tsai (angelXwind) <angelXwind@angelxwind.net>
Author: Karen Tsai (angelXwind) <angelXwind@angelxwind.net>
Section: Tweaks
Depiction: http://cydia.angelxwind.net/?page/net.angelxwind.ineffectivepower
Conflicts: com.mohammadag.unicodesuppressor, com.imokhles.antieffective, com.sull.ineffectivepower